// generic transform
@mixin transform($transforms) {
     -moz-transform: $transforms;
       -o-transform: $transforms;
      -ms-transform: $transforms;
  -webkit-transform: $transforms;
          transform: $transforms;
}

@mixin backface-visibility ($arguments) {
  -webkit-backface-visibility: $arguments;
     -moz-backface-visibility: $arguments;
      -ms-backface-visibility: $arguments;
       -o-backface-visibility: $arguments;
          backface-visibility: $arguments;
}


@import url(https://fonts.googleapis.com/css?family=News+Cycle:400,700);

@font-face {
    font-family: StarWars;
    src: url('Starjedi.ttf');
}

$timeFactor: 1;
$introColor: rgb(75, 213, 238);
$titlesColor: #ffd54e;

html,
body {
    width: 100%;
    height: 100%;
    font: 700 1em "News Cycle", sans-serif;
    letter-spacing:.15em;
    color: $titlesColor;
    margin: 0;
}

/* Remove dotted border on Firefox (http://stackoverflow.com/a/199319) */
button::-moz-focus-inner {
  border: 0;
}

.starwars {

  section {
    position: absolute;
    top: 45%;
    left: 50%;
    z-index: 1;
  }

  .start {
    font-size: 200%;
    $start-width: 100%;
    width: $start-width;
    margin: 0 0 0 (- $start-width / 2);
    text-align: center;
    top: 0;

    #config{
        margin: 0 auto;
        width: 500px;
    }
  }
  .introBg{
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      background-color: black;
      animation: introBg 9s * $timeFactor;
      opacity: 0;
  }

  .intro {
    margin: 0 auto;
    padding: 0 100px;
    position: static;
    top: 0px;
    left: 0px;
    font-size: 500%;
    font-weight: 400;
    color: $introColor;
    opacity: 0;
    animation: intro 6s * $timeFactor ease-out 1s * $timeFactor;
    @media (max-width: 1250px){
        font-size: 350%;
    }
  }

  .logo {
    font-family: StarWars;
    text-align:center;
    position: static;

    margin: 0 auto;
    opacity: 0;
    animation: logo 11s * $timeFactor cubic-bezier(0.11, 0.51, 0.48, 0.88) 9s * $timeFactor;
    // animation-iteration-count: infinite; // for testing only
    // animation-delay: 0s;

    img {
      width: 300px;
    }
  }

  .titles {
    $titles-width: 14.65em;
    width: $titles-width;
    margin: 0 0 0 (- $titles-width / 2);
    top: auto;
    bottom: 0;
    height: 50em;
    font-size: 350%;
    text-align: justify;
      overflow: hidden;
    transform-origin: 50% 100%;
    @include transform(perspective(300px) rotateX(25deg));

    > div {
        position: absolute;
        top: 100%;
        animation: titles 73s * $timeFactor linear 13s * $timeFactor;

      > p {
          margin: 1.35em 0 1.85em 0;
        line-height: 1.35em;

        @include backface-visibility(hidden);
      }

      .tcenter{
        margin: 1.35em 0 -1em 0;
        text-align: center;
      }
    }
  }
}

.verticalWrapper{
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

@keyframes intro {
  0% {
    opacity: 0;
  }
    20% {
    opacity: 1;
  }
    90% {
    opacity: 1;
  }
    100% {
    opacity: 0;
  }
}

@keyframes introBg {
    0% {
    opacity: 1;
  }
  100% {
      opacity: 1;
    }
}

@keyframes logo {
    0% {
    @include transform(scale(1.3));
    opacity: 1;
  }
    95% {
    opacity: 1;
  }
    100% {
    @include transform(scale(.01));
    opacity: 0;
  }
}

@keyframes titles {
  0% {
    top: 100%;
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    top: 20%;
    opacity: 0;
  }
}


.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.playButton{
  font-family: StarWars;
  cursor: pointer;
  font-size: 50px;
  border: 0;
  background: transparent;
  color: $titlesColor;
  text-shadow: none;
  transition: text-shadow 0.5s ease-out;
  outline: none;

  &:focus, &:hover {
    text-shadow: -1px 1px 8px #45f500, 1px -1px 8px #45f500;
  }
}

// Used only in the Form input. The text is a outlined SVG Text
/// Stroke font-character
/// @param  {Integer} $stroke - Stroke width
/// @param  {Color}   $color  - Stroke color
/// @return {List}            - text-shadow list
@function stroke($stroke, $color) {
  $shadow: ();
  $from: $stroke*-1;
  @for $i from $from through $stroke {
   @for $j from $from through $stroke {
      $shadow: append($shadow, $i*1px $j*1px 0 $color, comma);
    }
  }
  @return $shadow;
}
/// Stroke font-character
/// @param  {Integer} $stroke - Stroke width
/// @param  {Color}   $color  - Stroke color
/// @return {Style}           - text-shadow
@mixin stroke($stroke, $color) {
  text-shadow: stroke($stroke, $color);
}

#form-starwars{
  display: none;
  width: 500px;

  input,textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 0.25em;
    border: 0.25em solid transparentize($titlesColor, 0.8);
    border-radius: 0.2em;
    background: black;
    color: $titlesColor;
    transition: border-color 0.7s ease-out;

    &:active, &:focus {
      border-color: $titlesColor;
    }
  }

  textarea{
      resize: none;
      &#f-logo{
          color: black;
          border: 0.0666em solid transparentize($titlesColor, 0.8);
          border-radius: 0.0533em;
        font-family: StarWars;
        font-size: 50px;
        font-weight: normal;
        height: 125px;
        line-height: 86%;
        @include stroke(2,$titlesColor);
      }
  }
}

#f-intro{
    color: $introColor !important;
}
#f-text{
  height: 230px;
}

#f-logo,#f-title,#f-episode{
    text-align: center;
}

#loader{
    .inner {
        width: 100%;
        text-align: center;
    }
}

#pageTitle{
    line-height: 100%;
  font-family: StarWars;
}

.star-wars-alert{
  background-color: black !important;

  border: 2px solid $titlesColor;
  h2, p{
    color: $titlesColor !important;
  }

  button{
    border: 2px solid $titlesColor !important;
    color: $titlesColor !important;
    background-color: black !important;
  }
}

#footer {
  position: fixed;
  width: 100%;
  bottom: 1em;
  text-align: center;
  font-size: 0.7em;
  color: #9e9e42;

  a {
    color: $titlesColor;
    text-decoration: none;
    &:hover {
      color: #fff;
      text-decoration: none;
    }
  }
}

.socialButtons{
    position: fixed;
    bottom: 1em;
    left: 1em;
    z-index: 10;

    form {
        margin-bottom: 5px;
    }

    div {
        margin-bottom: 0.33em;

        &:last-of-type{
            margin-bottom: 0;
        }
    }
}

.bg {
  width: 100%;
  height: 4100px;
  position: absolute;
  top: 0;
  left: 0;
  background: url('bg-stars.png') repeat;
}

.running {
    overflow: hidden;
    .bg{
      animation: scrolldown 7s * $timeFactor 86s * $timeFactor forwards;
    }
}

@keyframes scrolldown {
  0% {
      transform: translateY(0);
  }
  100% {
      transform: translateY(-2200px);
  }
}

.deathstar {
  background: black url(deathstar.png) no-repeat;
  width: 655px;
  height: 663px;
  position: absolute;
  bottom: 1150px;
  right: 100px;
}

#logoimg{
    // display: none;
}

#logosvg{
  width: 900px;
  display: none;
  font-size: 210px;
}

.playAudio{
    width: 100%;
    text-align: center;
    font-size: 50px;
}

#videoButton{
    display: none;
    margin-bottom: 30px;
    font-size: 60px;
}

.sweet-alert {
    fieldset{
        input {
          width: 100%;
          margin-bottom: 10px;
          padding: 0.25em;
          border: 0.25em solid transparentize($titlesColor, 0.8);
          border-radius: 0.2em;
          background: black;
          color: $titlesColor;
          transition: border-color 0.7s ease-out;

          &:active, &:focus {
            outline: none;
            box-shadow: none;
            border: 0.25em solid $titlesColor;
          }
        }
    }
    .icon, .sa-input-error::before, .sa-input-error::after{
        background-color: #C31D00 !important;
    }
}

.sa-error-container{
    background-color: #3c3808 !important;
}

iframe{
    border: none;
}

.newFeatureRight{
    text-align: center;
    position: fixed;
    bottom: 1em;
    right: 1em;
    z-index: 10;
}
