// generic transform
@mixin transform($transforms) {
     -moz-transform: $transforms;
       -o-transform: $transforms;
      -ms-transform: $transforms;
  -webkit-transform: $transforms;
          transform: $transforms;
}

@mixin backface-visibility ($arguments) {
  -webkit-backface-visibility: $arguments;
     -moz-backface-visibility: $arguments;
      -ms-backface-visibility: $arguments;
       -o-backface-visibility: $arguments;
          backface-visibility: $arguments;
}


@import url(http://fonts.googleapis.com/css?family=News+Cycle:400,700);

@font-face {
    font-family: StarWars;
    src: url('font/Starjedi.ttf');
}

html,
body {
  width: 100%;
  height: 100%;
  font: 700 1em "News Cycle", sans-serif;
  letter-spacing:.15em;
    color: #ff6;
    background-image: url('images/bg.jpg');
    background-repeat: repeat;
    overflow: hidden;
  margin: 0;
}

.starwars {
  
  section {
    position: absolute;
    top: 45%;
    left: 50%;
    z-index: 1;
  } 

  .start {
    font-size: 200%;
    $start-width: 14em;
    width: $start-width;
    margin: -4em 0 0 (- $start-width / 2);
    text-align: center;
    cursor: pointer;
    
    span {
      color: rgb(75, 213, 238); 
    }
  }    
  
  .intro {
    $intro-width: 15em;
    width: $intro-width;
    margin: 0 0 0 (- $intro-width / 2);
      font-size: 200%;
      font-weight: 400;
    color: rgb(75, 213, 238);
    opacity: 0;
      animation: intro 6s ease-out 1s;
  }
  
  .logo {
    opacity: 0;
    animation: logo 9s ease-out 9s; 
    
    svg {
      width: inherit;
    }
  }
  
  .titles {
    $titles-width: 14.65em;
    width: $titles-width;
    margin: 0 0 0 (- $titles-width / 2);
    top: auto;
    bottom: 0;
    height: 50em;
    font-size: 350%;
    text-align: justify;
      overflow: hidden;
    transform-origin: 50% 100%;
    @include transform(perspective(300px) rotateX(25deg));
  
    > div {
        position: absolute;
        top: 100%;
        animation: titles 81s linear 13s;
    
      > p {
          margin: 1.35em 0 1.85em 0;
        line-height: 1.35em;
        
        @include backface-visibility(hidden);
      }

      .tcenter{
        margin: 1.35em 0 -1em 0;
        text-align: center;
      }
    }
  }
}

@keyframes intro {
  0% {
    opacity: 0;
  }  
    20% { 
    opacity: 1; 
  }
    90% { 
    opacity: 1; 
  }
    100% { 
    opacity: 0;
  }
}

@keyframes logo {
    0% { 
    $logo-width: 18em;
    width: $logo-width;
    margin: (- $logo-width / 2) 0 0 (- $logo-width / 2);
    
    @include transform(scale(2.75)); 
    opacity: 1; 
  }
    50% { 
    opacity: 1; 
    
    $logo-width: 18em;
    width: $logo-width;
    margin: (- $logo-width / 2) 0 0 (- $logo-width / 2);
  }
    100% { 
    @include transform(scale(.1)); 
    opacity: 0;
    
    $logo-width: 18em;
    width: $logo-width;
    margin: (- $logo-width / 2) 0 0 (- $logo-width / 2);
  }
}

@keyframes titles {
    0% { 
    top: 100%; 
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
    100% { 
    top: 20%; 
    opacity: 0;
  }
}


.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}