#logoimg{
    display: none;
    display: block;
}

#logosvg{
    //display: none;
    display: block;
}


$titlesColor: #ffd54e;

#showIntroDiv{
    position: absolute;
    top: 20px;
    left: 50px;
    z-index: 20;
}

#showLogo{
    position: absolute;
    top: 80px;
    left: -60px;
    width: 200px;
    z-index: 20;
}

#logoConfig {
    position: absolute;
    top: 200px;
    left: -50px;
    width: 200px;
    -webkit-transform: rotate(90deg);
    z-index: 20;
}

#textHeightConfig {
    position: absolute;
    top: 500px;
    left: -50px;
    width: 200px;
    -webkit-transform: rotate(90deg);
    z-index: 20;
}

.configRanges{
    position: absolute;
    $first: 80px;
    top: $first;
    left: 50px;
    &.second{
        top: $first + 300px;
    }
}


.starwars {

  .intro {
      display: none;
    opacity: 1;
      animation: 0 !important;
  }

  .titles {

    > div {
        top: 80%;
        opacity: 1;
    }
  }

  .logo {
      display: none;
    opacity: 1;
  }
}

@keyframes titles {

}

@keyframes logo {

}
