{
  "presets": ["env", "preact"],
  "plugins": [
    "transform-object-rest-spread",
    ["transform-runtime", {
      "helpers": false,
      "polyfill": false,
      "regenerator": true,
      "moduleName": "babel-runtime"
    }],
    "transform-class-properties",
    ["transform-react-jsx", { "pragma":"h" }]
  ]
}