{
    "parser": "babel-eslint",
    "rules": {
      "import/no-extraneous-dependencies": 0,
      "class-methods-use-this": 0,
      "import/extensions": 0,
      "import/no-unresolved": 0,
      "yoda": ["error", "always", { "onlyEquality": true }],
      "no-underscore-dangle": 0,
      "no-use-before-define": ["error", { "functions": false }],
      "no-param-reassign": 0,
      "react/jsx-filename-extension": 0,
      "react/prop-types": 0,
      "jsx-quotes": ["error", "prefer-double"]
    },
    "extends": ["airbnb", "standard-preact"],
    "globals": {
      "describe": true,
      "it": true,
      "expect": true,
      "window": true,
      "document": true,
      "navigator": true,
      "fetch": true,
      "FormData": true,
      "localStorage": true,
      "beforeAll": true,
      "beforeEach": true,
      "jest": true,
      "afterEach": true,
      "Raven": true,
      "Event": true
    }
  }