hideAllPages() {

  #configForm {
    display: none;
  }

  footer {
    display: none;
  }
}

body.loading {
  #bb8-loading {
    display: block;
    punchItBB8();
  }

  #configForm {
    display: none;
  }

  footer {
    display: none;
  }
}

body.requestFocus {
  #requestFocusButton {
    display: flex;
  }

  #configForm {
    display: none;
  }

  footer {
    display: none;
  }
}

body.runningVideo {
  overflow: hidden;

  #configForm > form {
    display: none;
  }

  footer {
    display: none;
  }

  &.showForm {
    overflow-y:  auto;
    #configForm > form {
      display: flex;
      fadeIn();
    }

    #deathstar {
      fadeOut(4s, 2s);
    }

    footer {
      display: block;
      fadeIn();
    }
  }
}