body.runningVideo {
  footer {
    display: none;
  }
}

footer {
  // position: fixed;
  font-family: Arial;

  .credits {
    // position: fixed;
    // bottom: 1em;
    width: 100%;
    color: #9e9e42;
    text-align: center;
    font-size: .9em;

    a {
      color: $titlesColor;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

