.playAudio{
    width: 100%;
    text-align: center;
    font-size: 50px;
}


.sweet-alert {
    fieldset{
        input {
          width: 100%;
          margin-bottom: 10px;
          padding: 0.25em;
          border: 0.25em solid transparentize($titlesColor, 0.8);
          border-radius: 0.2em;
          background: black;
          color: $titlesColor;
          transition: border-color 0.7s ease-out;

          &:active, &:focus {
            outline: none;
            box-shadow: none;
            border: 0.25em solid $titlesColor;
          }
        }
    }
    .icon, .sa-input-error::before, .sa-input-error::after{
        background-color: #C31D00 !important;
    }
}

.sa-error-container{
    background-color: #3c3808 !important;
}

iframe{
    border: none;
}

#createdIntros{
    #box{
        position: fixed;
        top: 1em;
        left: 1em;
        z-index: 10;
        border: $titlesColor 3px solid;
        border-radius: 7px;
        padding: 10px;
        color: $titlesColor;
        max-width: 20%;

        div{
            max-width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            a{
                color: $titlesColor;
                text-decoration: none;
                &.link{
                    width: 250px;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
            .circCont{
              display:inline-block;
              float: right;
              margin-top: 4px;
              margin-left: 5px;
              .circle {
                  width: 20px;
                  height: 20px;
                  background: transparent;
                  border: 2px solid $titlesColor;
                  -moz-border-radius: 50%;
                  -webkit-border-radius: 50%;
                  border-radius: 50%;
                  position: relative;
                  cursor: pointer;
                  display: inline-block;
                }
                .circle:after {
                  width: 12px;
                  height: 2px;
                  background-color: $titlesColor;
                  content: "";
                  left: 50%;
                  top: 50%;
                  margin-left: -6px;
                  margin-top: -1px;
                  position: absolute;
                  -moz-transform: rotate(-45deg);
                  -ms-transform: rotate(-45deg);
                  -webkit-transform: rotate(-45deg);
                  transform: rotate(-45deg);
                  /*@include transform-origin(100%,100%);*/
                }
                .circle:before {
                  left: 50%;
                  top: 50%;
                  margin-left: -6px;
                  margin-top: -1px;
                  width: 12px;
                  height: 2px;
                  background-color: $titlesColor;
                  content: "";
                  position: absolute;
                  -moz-transform: rotate(45deg);
                  -ms-transform: rotate(45deg);
                  -webkit-transform: rotate(45deg);
                  transform: rotate(45deg);
                  /*@include transform-origin(0%,0%);*/
                }
                .fromMiddle:before, .fromMiddle:after {
  z-index: 9999;
  -moz-transition-delay: 150ms;
  -o-transition-delay: 150ms;
  -webkit-transition-delay: 150ms;
  transition-delay: 150ms;
  -moz-transition: ease-in-out 400ms;
  -o-transition: ease-in-out 400ms;
  -webkit-transition: ease-in-out 400ms;
  transition: ease-in-out 400ms;
}
.fromMiddle span {
  width: 18px;
  height: 18px;
  background-color: $titlesColor;
  display: inline-block;
  position: absolute;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  left: -1px;
  top: -1px;
  z-index: -9999;
  -moz-transform: scale(0.3);
  -ms-transform: scale(0.3);
  -webkit-transform: scale(0.3);
  transform: scale(0.3);
  opacity: 0;
  -moz-transition: ease-in-out 300ms;
  -o-transition: ease-in-out 300ms;
  -webkit-transition: ease-in-out 300ms;
  transition: ease-in-out 300ms;
}

.fromMiddle:hover:before, .fromMiddle:hover:after {
  position: absolute;
  background-color: black;
}
.fromMiddle:hover span {
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
            }

        }
    }
}

#playBut{
  z-index: 1000;
}

.sweet-alert {
  box-sizing : border-box;
  max-height : 100% !important;
  overflow-y : auto !important;
  padding : 0 17px 17px !important;
  width : 512px !important;
}
.sweet-alert:before {
  content : "";
  display : block;
  height : 17px;
  width : 0;
}
