@import './partials/NewsCycleFont.css';

@font-face {
  font-family: StarWars;
  src: url('./fonts/Starjedi.ttf');
}

@font-face {
  font-family: StarWarsTitle;
  src: url('./fonts/SWCrawlTitle2.ttf');
}


$timeFactor = 1;
$introColor = #4bd5ee;
$titlesColor = #ffd54e;

html,
body {
    width: 100%;
    height: 100%;
    // font: 700 1em "News Cycle", sans-serif;
    letter-spacing:.15em;
    color: $titlesColor;
    margin: 0;
    background-color: black;
}



@import './configForm.styl';
// @import './animation.styl';

