@import './fonts/NewsCycleFont.css';

@font-face {
  font-family: StarWars;
  src: url('./fonts/Starjedi.ttf');
}

@font-face {
  font-family: StarWarsTitle;
  src: url('./fonts/SWCrawlTitle2.ttf');
}

starWarsFontStyle() {
  color: $titlesColor;
  letter-spacing: 3px;
  font-family: StarWars;
  line-height: 1.1em;
}

$defaultFontFamily = Arial, Helvetica, sans-serif;

// media queries
$HD = '(max-height: 720px)';

// variables
$timeFactor = 1;
$introColor = #4bd5ee;
$titlesColor = #ffd54e;

html,
body {
    display: initial;
    margin: 0;
    width: 100%;
    height: 100%;
    background: url('../assets/bg-stars.png') repeat;
    background-color: black;
    color: $titlesColor;
}

.verticalWrapper{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

@keyframes fadeinAnimation {
    from {
      visibility: hidden;
      opacity: 0;
    }

    to   {
      visibility: visible;
      opacity: 1;
    }
}

@keyframes fadeoutAnimation {
    from {
      visibility: visible;
      opacity: 1;
    }

    to   {
      visibility: hidden;
      opacity: 0;
    }
}

fadeIn($delay = 0s, $fadeDuration = 500ms) {
  animation: fadeinAnimation $fadeDuration linear $delay forwards;
}

fadeOut($delay = 0s, $fadeDuration = 500ms) {
  animation: fadeoutAnimation $fadeDuration linear $delay forwards;
}

@import './configForm.styl';
@import './bb8.css';
@import './punchItBB8.styl';
@import './animation.styl';
@import './footer.styl';
@import './sweetalert.styl';

.hide {
  display: none;
}

.noselect {
  user-select: none;
}

#bb8-loading {
  display: none;
}

#requestFocusButton {
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  > div {
    @extend $actionButtonStyle;
  }
}

body.loading {
  #bb8-loading {
    display: block;
    punchItBB8();
  }

  #configForm {
    display: none;
  }

  footer {
    display: none;
  }
}

body.requestFocus {
  #requestFocusButton {
    display: flex;
  }

  #configForm {
    display: none;
  }

  footer {
    display: none;
  }
}

body.error {
  #configForm {
    fadeOut();
  }
}

body.runningVideo {
  overflow: hidden;

  #configForm > form {
    display: none;
  }

  &.showForm {
    overflow-y:  auto;
    #configForm > form {
      display: flex;
      fadeIn();
    }

    #deathstar {
      fadeOut(4s, 2s);
    }

    footer {
      display: block;
      fadeIn();
    }
  }
}