@import './fonts/NewsCycleFont.css';

@font-face {
  font-family: StarWars;
  src: url('./fonts/Starjedi.ttf');
}

@font-face {
  font-family: StarWarsTitle;
  src: url('./fonts/SWCrawlTitle2.ttf');
}

starWarsFontStyle() {
  color: $titlesColor;
  letter-spacing: 3px;
  font-family: StarWars;
  line-height: 1.1em;
}

$defaultFontFamily = Arial, Helvetica, sans-serif;

// media queries
$HD = '(max-height: 720px)';

// variables
$timeFactor = 1;
// $timeFactor = 1/16;
$introColor = #4bd5ee;
$titlesColor = #ffd54e;

$formBackgroundColor = lighten(black, 2%)

$buttonHoverColor = lighten($formBackgroundColor, 20%);
$buttonFocusColor = lighten($formBackgroundColor, 40%);

$errorRed = #ab0000;
$panelTextColor = #d0ad3e;
$warningYellow = $panelTextColor;

html,
body {
    display: initial;
    margin: 0;
    width: 100%;
    height: 100%;
    background: url('../assets/bg-stars.png') repeat;
    background-color: black;
    color: $titlesColor;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

iframe{
    border: none;
}

.verticalWrapper{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

@keyframes fadeinAnimation {
    from {
      visibility: hidden;
      opacity: 0;
    }

    to   {
      visibility: visible;
      opacity: 1;
    }
}

@keyframes fadeoutAnimation {
    from {
      visibility: visible;
      opacity: 1;
    }

    to   {
      visibility: hidden;
      opacity: 0;
    }
}

fadeIn($delay = 0s, $fadeDuration = 500ms) {
  animation: fadeinAnimation $fadeDuration linear $delay forwards;
}

fadeOut($delay = 0s, $fadeDuration = 500ms) {
  animation: fadeoutAnimation $fadeDuration linear $delay forwards;
}

buttonStyle() {
  margin: 0 .3125em;
  padding: .625em 2em;
  border: 2px solid $panelTextColor !important;
  border-radius: 3px !important;
  background-color: $formBackgroundColor !important;
  color: $panelTextColor !important;
  font-weight: 500;
  font-size: 1.0625em;
  font-family: $defaultFontFamily;
  cursor: pointer;

  &:hover, &:active {
    background-color: $buttonHoverColor !important;
  }

  &:focus {
    box-shadow: 0 0 0 2px $buttonFocusColor !important;
  }
}

@import './configForm.styl';
@import './bb8.css';
@import './punchItBB8.styl';
@import './animation.styl';
@import './footer.styl';
@import './sweetalert.styl';

.hide {
  display: none;
}

.noselect {
  user-select: none;
}

#bb8-loading {
  display: none;
}

#requestFocusButton {
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  > div {
    @extend $actionButtonStyle;
  }
}

.pageTitle {
  starWarsFontStyle();
  text-align: center;
}

@import './bodyStates.styl';
@import './downloadPage.styl';

#paypalDonateBRL {
  display: none;

  &.show {
    display: block;
  }
}