.starwars-sweetalert {
  border: 2px solid $alertTextColor;
  background-color: $formBackgroundColor;

  .swal2-title {
    starWarsFontStyle();
    margin-bottom: 1em;
    color: $alertTextColor;
  }

  .swal2-content{
    margin-bottom: 1em;
    color: $alertTextColor;
    font-family: $defaultFontFamily;
  }

  button {
    border: 2px solid $alertTextColor !important;
    background-color: $formBackgroundColor !important;
    color: $alertTextColor !important;

    &:hover, &:active {
      background-color: $buttonHoverColor !important;
    }

    &:focus {
      box-shadow: 0 0 0 2px $buttonFocusColor  !important;
    }
  }

  .swal2-icon {
    &.swal2-error {
      border-color: $errorRed;
      .swal2-x-mark {
        span {
          background-color: $errorRed;
        }
      }
    }

    &.swal2-warning {
      border-color: $warningYellow;
      .swal2-icon-text{
        color: $warningYellow;
      }
    }
  }
}