// $successGreen = #37c300;

.starwars-sweetalert {
  border: 2px solid $panelTextColor;
  background-color: $formBackgroundColor;

  .swal2-title {
    starWarsFontStyle();
    margin-bottom: 1em;
  }

  .swal2-content{
    margin-bottom: 1em;
    color: $panelTextColor;
    font-family: $defaultFontFamily;
  }

  .swal2-actions:not(.swal2-loading) {
    button {
      buttonStyle();
    }
  }

  .swal2-loading {
    button {
      border-right-color: $panelTextColor !important;
      border-left-color: $panelTextColor !important;
    }
  }

  .swal2-icon {
    &.swal2-error {
      border-color: $errorRed;
      .swal2-x-mark {
        span {
          background-color: $errorRed;
        }
      }
    }

    &.swal2-warning {
      border-color: $warningYellow;
      .swal2-icon-text{
        color: $warningYellow;
      }
    }
  }

  // .swal2-success-circular-line-left,
  // .swal2-success-circular-line-right,
  // .swal2-success-fix {
  //   background-color: transparent !important;
  // }

  // .swal2-success-line-tip,
  // .swal2-success-line-long {
  //   background-color: $successGreen !important;
  // }

  // .swal2-success-ring {
  //   border-color: $successGreen !important;
  // }
}