@import url(https://fonts.googleapis.com/css?family=News+Cycle:400,700);
@font-face {
  font-family: StarWars;
  src: url("Starjedi.ttf"); }

@font-face {
  font-family: StarWarsTitle;
  src: url("SWCrawlTitle2.ttf"); }

html,
body {
  width: 100%;
  height: 100%;
  font: 700 1em "News Cycle", sans-serif;
  letter-spacing: .15em;
  color: #ffd54e;
  margin: 0;
  background-color: black; }

/* Remove dotted border on Firefox (http://stackoverflow.com/a/199319) */
button::-moz-focus-inner {
  border: 0; }

.starwars section {
  position: absolute;
  top: 45%;
  left: 50%;
  z-index: 1; }

.starwars .start {
  font-size: 200%;
  width: 100%;
  margin: 0 0 0 -50%;
  text-align: center;
  top: 0; }
  .starwars .start #config {
    margin: 0 auto;
    width: 500px; }

.starwars .introBg {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: black;
  animation: introBg 9s;
  opacity: 0; }

.starwars .intro {
  margin: 0 auto;
  padding: 0 100px;
  position: static;
  top: 0px;
  left: 0px;
  font-size: 500%;
  font-weight: 400;
  color: #4bd5ee;
  opacity: 0;
  animation: intro 6s ease-out 1s; }
  @media (max-height: 720px) {
    .starwars .intro {
      font-size: 350%; } }

.starwars .logo {
  font-family: StarWars;
  text-align: center;
  position: static;
  margin: 0 auto;
  opacity: 0;
  animation: logo 11s cubic-bezier(0.11, 0.51, 0.48, 0.88) 9s; }
  .starwars .logo img {
    width: 300px; }

.starwars .titles {
  width: 14.65em;
  margin: 0 0 0 -7.325em;
  top: auto;
  bottom: 0;
  height: 50em;
  font-size: 350%;
  text-align: justify;
  overflow: hidden;
  word-wrap: break-word;
  transform-origin: 50% 100%;
  -moz-transform: perspective(300px) rotateX(25deg);
  -o-transform: perspective(300px) rotateX(25deg);
  -ms-transform: perspective(300px) rotateX(25deg);
  -webkit-transform: perspective(300px) rotateX(25deg);
  transform: perspective(300px) rotateX(25deg); }
  @media screen and (min-width: 1920px) and (max-width: 1920px) {
    .starwars .titles {
      zoom: 1.9;
      -moz-transform: perspective(266px) rotateX(29deg) scaleX(1.2);
      -o-transform: perspective(266px) rotateX(29deg) scaleX(1.2);
      -ms-transform: perspective(266px) rotateX(29deg) scaleX(1.2);
      -webkit-transform: perspective(266px) rotateX(29deg) scaleX(1.2);
      transform: perspective(266px) rotateX(29deg) scaleX(1.2); } }
  @media screen and (min-width: 1366px) and (max-width: 1366px) {
    .starwars .titles {
      zoom: 1.5;
      -moz-transform: perspective(216px) rotateX(26deg);
      -o-transform: perspective(216px) rotateX(26deg);
      -ms-transform: perspective(216px) rotateX(26deg);
      -webkit-transform: perspective(216px) rotateX(26deg);
      transform: perspective(216px) rotateX(26deg); } }
  @media screen and (min-width: 1280px) and (max-width: 1280px) {
    .starwars .titles {
      zoom: 1.5;
      -moz-transform: perspective(216px) rotateX(26deg);
      -o-transform: perspective(216px) rotateX(26deg);
      -ms-transform: perspective(216px) rotateX(26deg);
      -webkit-transform: perspective(216px) rotateX(26deg);
      transform: perspective(216px) rotateX(26deg); } }
  .starwars .titles > div {
    position: absolute;
    top: 100%;
    animation: titles 73s linear 13s; }
    .starwars .titles > div > p {
      margin: 1.35em 0 1.85em 0;
      line-height: 1.35em;
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      -ms-backface-visibility: hidden;
      -o-backface-visibility: hidden;
      backface-visibility: hidden; }
    .starwars .titles > div .tcenter {
      margin: 1.35em 0 -1em 0;
      text-align: center; }

.verticalWrapper {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px; }

@keyframes intro {
  0% {
    opacity: 0; }
  20% {
    opacity: 1; }
  90% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes introBg {
  0% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@keyframes logo {
  0% {
    -moz-transform: scale(1.3);
    -o-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    opacity: 1; }
  95% {
    opacity: 1; }
  100% {
    -moz-transform: scale(0.01);
    -o-transform: scale(0.01);
    -ms-transform: scale(0.01);
    -webkit-transform: scale(0.01);
    transform: scale(0.01);
    opacity: 0; } }

@keyframes titles {
  0% {
    top: 100%;
    opacity: 1; }
  95% {
    opacity: 1; }
  100% {
    top: 20%;
    opacity: 0; } }

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.playButton, .downloadButton {
  font-family: StarWars;
  cursor: pointer;
  font-size: 50px;
  border: 0;
  background: transparent;
  color: #ffd54e;
  text-shadow: none;
  transition: text-shadow 0.5s ease-out;
  outline: none; }
  .playButton:focus, .downloadButton:focus, .playButton:hover, .downloadButton:hover {
    text-shadow: -1px 1px 8px #45f500, 1px -1px 8px #45f500; }

#form-starwars {
  width: 500px; }
  #form-starwars input, #form-starwars textarea {
    width: 97%;
    margin-bottom: 0px;
    padding: 0.3em;
    border: 3px solid rgba(255, 213, 78, 0.2);
    border-radius: 3px;
    background: black;
    color: #ffd54e;
    transition: border-color 0.7s ease-out;
    overflow-x: hidden; }
    #form-starwars input:active, #form-starwars input:focus, #form-starwars textarea:active, #form-starwars textarea:focus {
      border-color: #ffd54e; }
  #form-starwars textarea {
    resize: none; }
    #form-starwars textarea#f-logo {
      color: black;
      border: 0.0666em solid rgba(255, 213, 78, 0.2);
      border-radius: 0.0533em;
      font-family: StarWars;
      font-size: 50px;
      font-weight: normal;
      height: 92px;
      line-height: 86%;
      width: 93%;
      text-shadow: -2px -2px 0 #ffd54e, -2px -1px 0 #ffd54e, -2px 0px 0 #ffd54e, -2px 1px 0 #ffd54e, -2px 2px 0 #ffd54e, -1px -2px 0 #ffd54e, -1px -1px 0 #ffd54e, -1px 0px 0 #ffd54e, -1px 1px 0 #ffd54e, -1px 2px 0 #ffd54e, 0px -2px 0 #ffd54e, 0px -1px 0 #ffd54e, 0px 0px 0 #ffd54e, 0px 1px 0 #ffd54e, 0px 2px 0 #ffd54e, 1px -2px 0 #ffd54e, 1px -1px 0 #ffd54e, 1px 0px 0 #ffd54e, 1px 1px 0 #ffd54e, 1px 2px 0 #ffd54e, 2px -2px 0 #ffd54e, 2px -1px 0 #ffd54e, 2px 0px 0 #ffd54e, 2px 1px 0 #ffd54e, 2px 2px 0 #ffd54e; }
    #form-starwars textarea#f-text {
      margin-top: 10px; }

#f-intro {
  color: #4bd5ee !important; }

#f-text {
  height: 200px; }

#f-logo, #f-title, #f-episode {
  text-align: center; }

#loader .inner {
  width: 100%;
  text-align: center; }

#pageTitle {
  line-height: 100%;
  font-family: StarWars; }

.star-wars-alert {
  background-color: black !important;
  border: 2px solid #ffd54e; }
  .star-wars-alert h2, .star-wars-alert p {
    color: #ffd54e !important; }
  .star-wars-alert button {
    border: 2px solid #ffd54e !important;
    color: #ffd54e !important;
    background-color: black !important; }

#footer {
  position: fixed;
  width: 100%;
  bottom: 1em;
  text-align: center;
  font-size: 0.7em;
  color: #9e9e42; }
  #footer a {
    color: #ffd54e;
    text-decoration: none; }
    #footer a:hover {
      color: #fff;
      text-decoration: none; }

.socialButtons {
  position: fixed;
  bottom: 1em;
  left: 1em;
  z-index: 10; }
  .socialButtons form {
    margin-bottom: 5px; }
  .socialButtons div {
    margin-bottom: 0.33em; }
    .socialButtons div:last-of-type {
      margin-bottom: 0; }

.bg {
  width: 100%;
  height: 4100px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  background: url("bg-stars.png") repeat; }

.running {
  overflow: hidden; }
  .running .bg {
    animation: scrolldown 7s 86s forwards; }

@keyframes scrolldown {
  0% {
    transform: translateY(0); }
  100% {
    transform: translateY(-2200px); } }

.deathstar {
  background: black url(deathstar.png) no-repeat;
  width: 655px;
  height: 663px;
  position: absolute;
  bottom: 1150px;
  right: 100px; }

#logosvg {
  width: 900px;
  display: none;
  font-size: 210px; }

.playAudio {
  width: 100%;
  text-align: center;
  font-size: 50px; }

#videoButton {
  display: none;
  margin-bottom: 30px;
  font-size: 60px; }

.sweet-alert fieldset input {
  width: 100%;
  margin-bottom: 10px;
  padding: 0.25em;
  border: 0.25em solid rgba(255, 213, 78, 0.2);
  border-radius: 0.2em;
  background: black;
  color: #ffd54e;
  transition: border-color 0.7s ease-out; }
  .sweet-alert fieldset input:active, .sweet-alert fieldset input:focus {
    outline: none;
    box-shadow: none;
    border: 0.25em solid #ffd54e; }

.sweet-alert .icon, .sweet-alert .sa-input-error::before, .sweet-alert .sa-input-error::after {
  background-color: #C31D00 !important; }

.sa-error-container {
  background-color: #3c3808 !important; }

iframe {
  border: none; }

.termsOfService {
  text-align: center;
  position: fixed;
  bottom: 1em;
  right: 1em;
  z-index: 10; }
  .termsOfService a {
    color: #ffd54e;
    text-decoration: none; }
    .termsOfService a:hover {
      text-decoration: underline; }

@keyframes pulseDownload {
  0% {
    text-shadow: none; }
  40% {
    text-shadow: -1px 1px 93px #45f500, 1px -1px 23px #45f500; }
  60% {
    text-shadow: -1px 1px 93px #45f500, 1px -1px 23px #45f500; }
  100% {
    text-shadow: none; } }

.downloadButton {
  animation: pulseDownload 3s ease 0s infinite; }
  .downloadButton:hover {
    text-shadow: -1px 1px 93px #45f500, 1px -1px 23px #45f500;
    animation: none; }

#createdIntros #box {
  position: fixed;
  top: 1em;
  left: 1em;
  z-index: 10;
  border: #ffd54e 3px solid;
  border-radius: 7px;
  padding: 10px;
  color: #ffd54e;
  max-width: 20%; }
  #createdIntros #box div {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
    #createdIntros #box div a {
      color: #ffd54e;
      text-decoration: none; }
      #createdIntros #box div a.link {
        width: 250px; }
        #createdIntros #box div a.link:hover {
          text-decoration: underline; }
    #createdIntros #box div .circCont {
      display: inline-block;
      float: right;
      margin-top: 4px;
      margin-left: 5px; }
      #createdIntros #box div .circCont .circle {
        width: 20px;
        height: 20px;
        background: transparent;
        border: 2px solid #ffd54e;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        position: relative;
        cursor: pointer;
        display: inline-block; }
      #createdIntros #box div .circCont .circle:after {
        width: 12px;
        height: 2px;
        background-color: #ffd54e;
        content: "";
        left: 50%;
        top: 50%;
        margin-left: -6px;
        margin-top: -1px;
        position: absolute;
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        /*@include transform-origin(100%,100%);*/ }
      #createdIntros #box div .circCont .circle:before {
        left: 50%;
        top: 50%;
        margin-left: -6px;
        margin-top: -1px;
        width: 12px;
        height: 2px;
        background-color: #ffd54e;
        content: "";
        position: absolute;
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        /*@include transform-origin(0%,0%);*/ }
      #createdIntros #box div .circCont .fromMiddle:before, #createdIntros #box div .circCont .fromMiddle:after {
        z-index: 9999;
        -moz-transition-delay: 150ms;
        -o-transition-delay: 150ms;
        -webkit-transition-delay: 150ms;
        transition-delay: 150ms;
        -moz-transition: ease-in-out 400ms;
        -o-transition: ease-in-out 400ms;
        -webkit-transition: ease-in-out 400ms;
        transition: ease-in-out 400ms; }
      #createdIntros #box div .circCont .fromMiddle span {
        width: 18px;
        height: 18px;
        background-color: #ffd54e;
        display: inline-block;
        position: absolute;
        -moz-border-radius: 100%;
        -webkit-border-radius: 100%;
        border-radius: 100%;
        left: -1px;
        top: -1px;
        z-index: -9999;
        -moz-transform: scale(0.3);
        -ms-transform: scale(0.3);
        -webkit-transform: scale(0.3);
        transform: scale(0.3);
        opacity: 0;
        -moz-transition: ease-in-out 300ms;
        -o-transition: ease-in-out 300ms;
        -webkit-transition: ease-in-out 300ms;
        transition: ease-in-out 300ms; }
      #createdIntros #box div .circCont .fromMiddle:hover:before, #createdIntros #box div .circCont .fromMiddle:hover:after {
        position: absolute;
        background-color: black; }
      #createdIntros #box div .circCont .fromMiddle:hover span {
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1; }

#videoRequestAdvise {
  font-size: 50%; }

#flabel {
  font-size: 13px;
  font-family: Arial;
  font-weight: normal;
  display: inline;
  vertical-align: middle; }

.regular-checkbox {
  display: none; }

.regular-checkbox + label {
  background-color: black;
  border: 3px solid rgba(255, 213, 78, 0.2);
  padding: 9px;
  border-radius: 3px;
  display: inline-block;
  position: relative;
  top: 3px; }

.regular-checkbox:checked + label {
  color: #99a1a7; }

.regular-checkbox:checked + label:after {
  content: '\2714';
  font-size: 14px;
  position: absolute;
  bottom: -2px;
  left: 3px;
  color: #ffd54e; }

#text {
  line-height: 1.5em; }

#episode {
  margin-bottom: -2em; }

#title.SWFont {
  font-family: StarWarsTitle;
  font-weight: normal;
  font-size: 210%;
  transform: scaleY(1);
  margin-bottom: -0.1em;
  margin-top: 1.35em;
  text-transform: lowercase; }

#title {
  transform: scaleY(2);
  margin-bottom: 1.6em;
  margin-top: 3.5em;
  text-transform: uppercase; }

#playBut {
  z-index: 1000; }

.sweet-alert {
  box-sizing: border-box;
  max-height: 100% !important;
  overflow-y: auto !important;
  padding: 0 17px 17px !important;
  width: 512px !important; }

.sweet-alert:before {
  content: "";
  display: block;
  height: 17px;
  width: 0; }

#btcether {
  font-weight: bold;
  display: flex;
  line-height: 25px; }
  #btcether:hover {
    text-decoration: underline;
    cursor: pointer; }
  #btcether span {
    margin-left: 5px; }
