@import url(https://fonts.googleapis.com/css?family=News+Cycle:400,700);
@font-face {
  font-family: StarWars;
  src: url("Starjedi.ttf"); }

html,
body {
  width: 100%;
  height: 100%;
  font: 700 1em "News Cycle", sans-serif;
  letter-spacing: .15em;
  color: #ffd54e;
  margin: 0; }

/* Remove dotted border on Firefox (http://stackoverflow.com/a/199319) */
button::-moz-focus-inner {
  border: 0; }

.starwars section {
  position: absolute;
  top: 45%;
  left: 50%;
  z-index: 1; }

.starwars .start {
  font-size: 200%;
  width: 100%;
  margin: 0 0 0 -50%;
  text-align: center;
  top: 0; }
  .starwars .start #config {
    margin: 0 auto;
    width: 500px; }

.starwars .introBg {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: black;
  animation: introBg 9s;
  opacity: 0; }

.starwars .intro {
  margin: 0 auto;
  padding: 0 100px;
  position: static;
  top: 0px;
  left: 0px;
  font-size: 500%;
  font-weight: 400;
  color: #4bd5ee;
  opacity: 0;
  animation: intro 6s ease-out 1s; }
  @media (max-width: 1250px) {
    .starwars .intro {
      font-size: 350%; } }

.starwars .logo {
  font-family: StarWars;
  text-align: center;
  position: static;
  margin: 0 auto;
  opacity: 0;
  animation: logo 11s cubic-bezier(0.11, 0.51, 0.48, 0.88) 9s; }
  .starwars .logo img {
    width: 300px; }

.starwars .titles {
  width: 14.65em;
  margin: 0 0 0 -7.325em;
  top: auto;
  bottom: 0;
  height: 50em;
  font-size: 350%;
  text-align: justify;
  overflow: hidden;
  transform-origin: 50% 100%;
  -moz-transform: perspective(300px) rotateX(25deg);
  -o-transform: perspective(300px) rotateX(25deg);
  -ms-transform: perspective(300px) rotateX(25deg);
  -webkit-transform: perspective(300px) rotateX(25deg);
  transform: perspective(300px) rotateX(25deg); }
  .starwars .titles > div {
    position: absolute;
    top: 100%;
    animation: titles 73s linear 13s; }
    .starwars .titles > div > p {
      margin: 1.35em 0 1.85em 0;
      line-height: 1.35em;
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      -ms-backface-visibility: hidden;
      -o-backface-visibility: hidden;
      backface-visibility: hidden; }
    .starwars .titles > div .tcenter {
      margin: 1.35em 0 -1em 0;
      text-align: center; }

.verticalWrapper {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px; }

@keyframes intro {
  0% {
    opacity: 0; }
  20% {
    opacity: 1; }
  90% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes introBg {
  0% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@keyframes logo {
  0% {
    -moz-transform: scale(1.3);
    -o-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    opacity: 1; }
  95% {
    opacity: 1; }
  100% {
    -moz-transform: scale(0.01);
    -o-transform: scale(0.01);
    -ms-transform: scale(0.01);
    -webkit-transform: scale(0.01);
    transform: scale(0.01);
    opacity: 0; } }

@keyframes titles {
  0% {
    top: 100%;
    opacity: 1; }
  95% {
    opacity: 1; }
  100% {
    top: 20%;
    opacity: 0; } }

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.playButton {
  font-family: StarWars;
  cursor: pointer;
  font-size: 50px;
  border: 0;
  background: transparent;
  color: #ffd54e;
  text-shadow: none;
  transition: text-shadow 0.5s ease-out;
  outline: none; }
  .playButton:focus, .playButton:hover {
    text-shadow: -1px 1px 8px #45f500, 1px -1px 8px #45f500; }

#form-starwars {
  display: none;
  width: 500px; }
  #form-starwars input, #form-starwars textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 0.25em;
    border: 0.25em solid rgba(255, 213, 78, 0.2);
    border-radius: 0.2em;
    background: black;
    color: #ffd54e;
    transition: border-color 0.7s ease-out; }
    #form-starwars input:active, #form-starwars input:focus, #form-starwars textarea:active, #form-starwars textarea:focus {
      border-color: #ffd54e; }
  #form-starwars textarea {
    resize: none; }
    #form-starwars textarea#f-logo {
      color: black;
      border: 0.0666em solid rgba(255, 213, 78, 0.2);
      border-radius: 0.0533em;
      font-family: StarWars;
      font-size: 50px;
      font-weight: normal;
      height: 125px;
      line-height: 86%;
      text-shadow: -2px -2px 0 #ffd54e, -2px -1px 0 #ffd54e, -2px 0px 0 #ffd54e, -2px 1px 0 #ffd54e, -2px 2px 0 #ffd54e, -1px -2px 0 #ffd54e, -1px -1px 0 #ffd54e, -1px 0px 0 #ffd54e, -1px 1px 0 #ffd54e, -1px 2px 0 #ffd54e, 0px -2px 0 #ffd54e, 0px -1px 0 #ffd54e, 0px 0px 0 #ffd54e, 0px 1px 0 #ffd54e, 0px 2px 0 #ffd54e, 1px -2px 0 #ffd54e, 1px -1px 0 #ffd54e, 1px 0px 0 #ffd54e, 1px 1px 0 #ffd54e, 1px 2px 0 #ffd54e, 2px -2px 0 #ffd54e, 2px -1px 0 #ffd54e, 2px 0px 0 #ffd54e, 2px 1px 0 #ffd54e, 2px 2px 0 #ffd54e; }

#f-intro {
  color: #4bd5ee !important; }

#f-text {
  height: 230px; }

#f-logo, #f-title, #f-episode {
  text-align: center; }

#loader .inner {
  width: 100%;
  text-align: center; }

#pageTitle {
  line-height: 100%;
  font-family: StarWars; }

.star-wars-alert {
  background-color: black !important;
  border: 2px solid #ffd54e; }
  .star-wars-alert h2, .star-wars-alert p {
    color: #ffd54e !important; }
  .star-wars-alert button {
    border: 2px solid #ffd54e !important;
    color: #ffd54e !important;
    background-color: black !important; }

#footer {
  position: fixed;
  width: 100%;
  bottom: 1em;
  text-align: center;
  font-size: 0.7em;
  color: #9e9e42; }
  #footer a {
    color: #ffd54e;
    text-decoration: none; }
    #footer a:hover {
      color: #fff;
      text-decoration: none; }

.socialButtons {
  position: fixed;
  bottom: 1em;
  left: 1em;
  z-index: 10; }
  .socialButtons form {
    margin-bottom: 5px; }
  .socialButtons div {
    margin-bottom: 0.33em; }
    .socialButtons div:last-of-type {
      margin-bottom: 0; }

.bg {
  width: 100%;
  height: 4100px;
  position: absolute;
  top: 0;
  left: 0;
  background: url("bg-stars.png") repeat; }

.running {
  overflow: hidden; }
  .running .bg {
    animation: scrolldown 7s 86s forwards; }

@keyframes scrolldown {
  0% {
    transform: translateY(0); }
  100% {
    transform: translateY(-2200px); } }

.deathstar {
  background: black url(deathstar.png) no-repeat;
  width: 655px;
  height: 663px;
  position: absolute;
  bottom: 1150px;
  right: 100px; }

#logosvg {
  width: 900px;
  display: none;
  font-size: 210px; }

.playAudio {
  width: 100%;
  text-align: center;
  font-size: 50px; }

#videoButton {
  display: none;
  margin-bottom: 30px;
  font-size: 60px; }

.sweet-alert fieldset input {
  width: 100%;
  margin-bottom: 10px;
  padding: 0.25em;
  border: 0.25em solid rgba(255, 213, 78, 0.2);
  border-radius: 0.2em;
  background: black;
  color: #ffd54e;
  transition: border-color 0.7s ease-out; }
  .sweet-alert fieldset input:active, .sweet-alert fieldset input:focus {
    outline: none;
    box-shadow: none;
    border: 0.25em solid #ffd54e; }

.sweet-alert .icon, .sweet-alert .sa-input-error::before, .sweet-alert .sa-input-error::after {
  background-color: #C31D00 !important; }

.sa-error-container {
  background-color: #3c3808 !important; }

iframe {
  border: none; }

.newFeatureRight {
  text-align: center;
  position: fixed;
  bottom: 1em;
  right: 1em;
  z-index: 10; }
